:root {
  --bs-primary: #2b1e66;
  --bs-secondary: #ed247c;
  --bs-heading: #333333;
  --bs-para: #595657;
  --bs-border-color: #e8e8e8;
  --bs-root-font-size: 16px;
  --bs-body-font-family: "Open Sans", sans-serif;
}

.bi,
.btn,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
:after,
:before,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
li,
p,
select,
span,
textarea {
  transition: 0.5s ease-out;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  color: var(--bs-primary);
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  overflow-x: hidden;
  font-size: 16px;
  position: inherit !important;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-body-font-family);
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.35;
  color: var(--bs-secondary);
}

.btn {
  padding: 0.65rem 0.6rem;
  font-size: 0.65rem;
  text-transform: uppercase;
  transition: all 0.25s;
  border-radius: 0.35rem;
  height: 37.72px;
  font-weight: 600;
}

.btn-secondary-fill {
  background: var(--bs-secondary);
  border: 1px solid var(--bs-secondary);
  color: #fff;
}
.btn-secondary-fill:hover {
  background: var(--bs-secondary);
  border: 1px solid var(--bs-secondary);
  color: #fff;
}

input::-moz-placeholder {
  font-size: 0.85rem;
  color: #000;
}

input::placeholder {
  font-size: 0.85rem;
  color: #000;
}

.form-group {
  width: 100%;
  border: 1px solid #e1e1e2;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
}
.form-group::-moz-placeholder {
  font-size: 1rem;
  color: #aeb3b3;
}
.form-group::placeholder {
  font-size: 1rem;
  color: #aeb3b3;
}
.form-group::focus {
  outline: none;
  border: 1px solid var(--bs-primary);
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}

.btn-secondary {
  color: var(--bs-secondary);
  background-color: transparent;
  border: 1px solid var(--bs-secondary);
}
.btn-secondary:hover {
  border-radius: 0.5rem;
  color: #fff;
  background-color: var(--bs-secondary);
  border-color: transparent;
  transition: all 0.8s;
}
.btn-secondary:focus {
  color: #fff;
  background-color: var(--bs-secondary);
  border-color: transparent;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: var(--bs-primary);
  outline: 0;
  box-shadow: none;
  border-color: transparent;
}

.btn-main:hover {
  background: #fff;
  color: var(--bs-secondary);
}

.nav-item {
  padding: 0 0.5rem;
  color: rgba(51, 51, 51, 0.6784313725);
  font-weight: 500;
}
.nav-item .nav-link {
  padding: 0 0.5rem;
  color: var(--bs-secondary);
}

a:hover {
  color: var(--bs-primary);
  text-decoration: none;
}

svg,
img {
  vertical-align: middle;
}

section,
footer {
  padding: 50px 0;
}

.socilhdr {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: 0;
}
.socilhdr li {
  list-style-type: none;
}

.tophdr {
  padding: 0.5rem 0;
  background: var(--bs-primary);
}
.tophdr .tpmnul {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}
.tophdr .tpmnul a {
  color: #fff;
  text-decoration: none;
}
.tophdr .tpmnul .social-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tophdr .tpmnul .social-link li a {
  color: #fff;
}

.badge {
  position: absolute;
  top: -4px;
  right: -8px;
  background: #f4e3de;
  padding: 0.25rem;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: var(--bs-primary);
  z-index: 0;
  font-size: 0.775rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-body-tertiary {
  background-color: #f8f9fa;
}

.navbar-nav li a {
  z-index: 8;
  font-size: 1.75rem;
  position: relative;
}
.navbar-nav li a i {
  color: var(--bs-primary);
}

.input-group input {
  border: 1px solid var(--bs-primary);
  border-radius: 0.5rem 0 0 0.5rem;
}
.input-group input:focus {
  box-shadow: none;
}
.input-group input::-moz-placeholder {
  color: #595657;
  font-size: 0.875rem;
}
.input-group input::placeholder {
  color: #595657;
  font-size: 0.875rem;
}

.input-group-text {
  border: 1px solid var(--bs-primary);
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  align-items: center;
}
.input-group-text i {
  color: var(--bs-primary);
}

.btmhdr {
  background: #f7f7f7;
  padding: 0.75rem 0;
  width: 100%;
  position: absolute;
  top: 4rem;
  left: 0;
}
.btmhdr .btmhdrnv {
  display: flex;
}

.bg-express_delivery_1 {
  width: 200px;
  height: 53px;
  background: url(https://assets.winni.in/groot/2023/11/20/desktop/scooter-animation-fifth.gif) no-repeat 0 1px;
  position: absolute;
  left: 0;
  top: -7px;
}

.bdrnv a {
  text-decoration: none;
  text-wrap: nowrap;
  color: var(--bs-primary);
  text-align: center;
  font-size: 0.9rem;
}

@media (max-width: 575px) {
  .btmhdr {
    top: 9.25rem;
  }
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .wlg100 {
    width: 100%;
  }
}/*# sourceMappingURL=custom_20240707182726.css.map */